Repository SnO2WMaN/timeraas: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: eslint {staged_files}
    prettier:
      glob: '*.{json,yml,graphql}'
      run: prettier --check {staged_files}

lefthook 2
  lefthook.yml
Due: prettier

HeaderNav
  src/components/GlobalNav/Signin.tsx
  src/components/GlobalNav/UserInfo.tsx
  src/components/GlobalNav/index.tsx
  src/components/HeaderNav/Accordion.stories.tsx
  src/components/HeaderNav/Accordion.tsx
  src/components/HeaderNav/Signin.stories.tsx
  src/components/HeaderNav/Signin.tsx
  src/components/HeaderNav/UserInfo.tsx
  src/components/HeaderNav/index.stories.tsx
  src/components/HeaderNav/index.tsx
  src/components/Icon/index.tsx
  src/i18n/ja/index.ts
Due: eslint

Storybook assets
  .storybook/assets/icons/1.png
  .storybook/assets/icons/2.png
  .storybook/assets/icons/3.png
  .storybook/assets/icons/4.png
  .storybook/assets/icons/5.png
  .storybook/assets/icons/6.png
  .storybook/assets/icons/7.png
  .storybook/assets/index.ts
  .storybook/preview.js
Due: eslint

api js
  next.config.js
  src/pages/api/auth/[...nextauth].api.js
  src/pages/api/auth/[...nextauth].api.ts
Due: eslint

wip graphql
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierignore
  codegen.yml
  package.json
  schema.graphql
  src/lib/useUser.ts
  src/pages/api/graphql.api.ts
  yarn.lock
Due: eslint, prettier

design wip
  src/components/Footer/index.tsx
  src/components/Layout/index.tsx
Due: eslint

msw
  .env.development
  public/mockServiceWorker.js
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/mocks/index.ts
  src/mocks/server.ts
Due: eslint

upd for nextauth
  src/components/HeaderNav/Accordion.tsx
  src/components/HeaderNav/Signin.tsx
  src/components/HeaderNav/index.tsx
Due: eslint

typedef codegen plugin
  codegen/typescript-typedefs.js
Due: eslint

wip
  .eslintignore
  .eslintrc.json
  .gitignore
  .graphqlrc.json
  .prettierignore
  codegen.yml
  package.json
  schema.graphql
  src/apollo/client.ts
  src/apollo/resolvers/index.ts
  src/apollo/resolvers/query/viewer.test.ts
  src/apollo/resolvers/query/viewer.ts
  src/apollo/server.ts
  src/lib/useUser.ts
  src/lib/useViewer.ts
  src/mocks/handlers.ts
  src/pages/_app.page.tsx
  src/pages/api/auth/[...nextauth].api.js
  src/pages/api/auth/[...nextauth].api.ts
  src/pages/api/graphql.api.ts
  src/types/environment.d.ts
  yarn.lock
Due: eslint, prettier

mv graphql
  .eslintignore
  .gitignore
  .prettierignore
  codegen.yml
  package.json
  schema.graphql
  src/apollo/resolvers/index.ts
  src/apollo/resolvers/query/viewer.test.ts
  src/apollo/resolvers/query/viewer.ts
  src/apollo/server.ts
  src/pages/api/graphql.api.ts
  src/pages/api/graphql/index.api.ts
  src/pages/api/graphql/query.test.ts
  src/pages/api/graphql/query.ts
  yarn.lock
Due: eslint, prettier

wip countdown page
  .env.development
  .eslintignore
  .gitignore
  .prettierignore
  codegen.yml
  docker-compose.yml
  migrations/20210913065215_/migration.sql
  migrations/migration_lock.toml
  package.json
  schema.prisma
  src/apollo/client.ts
  src/graphql-request/client.ts
  src/pages/api/graphql/index.api.ts
  src/pages/countdown/[id]/index.page.tsx
  src/types/environment.d.ts
  yarn.lock
Due: eslint, prettier

timeleap
  README.md
  public/fonts/Timeleap.ttf
  src/styles/index.css
Due: none

fix useViewer
  src/lib/useViewer.ts
Due: eslint

clock wip
  src/components/Footer/index.tsx
  src/components/HeaderNav/index.tsx
  src/components/Layout/index.tsx
  src/components/Link/index.tsx
  src/lib/useAnimationFrame.tsx
  src/pages/_app.page.tsx
  src/pages/countdown/[id]/Clock.tsx
  src/pages/countdown/[id]/details.page.tsx
  src/types/next.d.ts
Due: eslint

ci preflight
  .github/workflows/ci.yml
  .node-version
  package.json
Due: prettier

暫定処理
  src/pages/_app.page.tsx
  src/pages/countdown/[id]/index.page.tsx
  src/types/next.d.ts
Due: eslint

Extend Accordion Item
  src/components/HeaderNav/Accordion/AccordionItem.tsx
  src/components/HeaderNav/Accordion/index.stories.tsx
  src/components/HeaderNav/Accordion/index.tsx
  src/components/HeaderNav/Signin.tsx
  src/components/HeaderNav/index.tsx
  src/components/Icon/index.tsx
  src/i18n/ja/index.ts
  src/pages/list.page.tsx
  src/pages/new.page.tsx
Due: eslint

next auth
  package.json
  schema.graphql
  schema.prisma
  src/lib/useViewer.ts
  src/pages/api/auth/[...nextauth].api.ts
  src/pages/api/graphql/index.api.ts
  src/pages/api/graphql/mutation.ts
  src/pages/api/graphql/query.ts
  src/types/next-auth.d.ts
  yarn.lock
Due: eslint, prettier

fix fix nextauth
  src/components/HeaderNav/Accordion/index.stories.tsx
  src/components/HeaderNav/Accordion/index.tsx
  src/components/HeaderNav/UserInfo.tsx
  src/components/HeaderNav/index.stories.tsx
  src/components/HeaderNav/index.tsx
  src/lib/useViewer.ts
  src/pages/api/graphql/query.test.ts
Due: eslint

fix fontawsoem config
  src/pages/_app.page.tsx
Due: eslint

seprt detecotr locale
  src/i18n/detector.ts
  src/pages/_app.page.tsx
Due: eslint

fuck wip
  src/pages/countdown/[id]/index.page.tsx
  src/types/next.d.ts
  src/types/next/app.d.ts
Due: eslint

fix next config
  next.config.js
Due: eslint

prisma seprt
  package.json
  src/pages/api/auth/[...nextauth].api.ts
  src/pages/api/graphql/index.api.ts
  src/pages/api/graphql/query.test.ts
  src/prisma/client.ts
Due: eslint, prettier

mv Clock
  src/components/Clock/index.tsx
  src/pages/countdown/[id]/details.page.tsx
  src/pages/countdown/[id]/index.page.tsx
Due: eslint

upd codegen confi
  .eslintignore
  .gitignore
  .prettierignore
  codegen.yml
Due: prettier

withSignin
  src/lib/useViewer.ts
  src/lib/withSignin.tsx
  src/pages/list.page.tsx
Due: eslint

wip pagination
  .env.development
  .env.production
  schema.graphql
  schema.prisma
  src/components/templates/ListPage/List.tsx
  src/mocks/handlers.ts
  src/pages/api/graphql/index.api.ts
  src/pages/api/graphql/query.ts
  src/pages/countdown/[id]/details.page.tsx
  src/pages/countdown/[id]/index.page.tsx
  src/pages/list.page.tsx
Due: eslint, prettier

rm migrations
  migrations/20210913065215_/migration.sql
  migrations/migration_lock.toml
Due: none

add id for apollo merge
  src/components/templates/ListPage/List.tsx
  src/lib/useViewer.ts
Due: eslint

fix codegen
  codegen.yml
Due: prettier

Countdowns list
  schema.graphql
  src/components/Icon/index.tsx
  src/components/templates/ListPage/List.stories.tsx
  src/components/templates/ListPage/List.tsx
  src/components/templates/ListPage/ListItem.stories.tsx
  src/components/templates/ListPage/ListItem.tsx
  src/i18n/formatters.ts
  src/i18n/ja/index.ts
  src/lib/useViewer.ts
  src/lib/withSignin.tsx
  src/mocks/handlers.ts
  src/pages/list.page.tsx
Due: eslint, prettier

LoadMore wip
  src/components/Icon/index.tsx
  src/components/templates/ListPage/List.stories.tsx
  src/components/templates/ListPage/List.tsx
  src/components/templates/ListPage/LoadMore.stories.tsx
  src/components/templates/ListPage/LoadMore.tsx
  src/i18n/ja/index.ts
  src/mocks/handlers.ts
Due: eslint

urql
  codegen.yml
  package.json
  src/components/templates/ListPage/List.tsx
  src/components/templates/ListPage/ListItem.tsx
  src/components/templates/ListPage/LoadMore.tsx
  src/lib/useViewer.ts
  src/mocks/handlers.ts
  src/pages/_app.page.tsx
  src/urql/client.ts
  yarn.lock
Due: eslint, prettier

upd nodejs
  .node-version
Due: none

upd nextconfigts
  next.config.js
Due: eslint

watch script
  package.json
Due: prettier

Link
  src/components/Footer/index.tsx
  src/components/HeaderNav/Accordion/AccordionItem.tsx
  src/components/HeaderNav/Accordion/index.tsx
  src/components/HeaderNav/index.tsx
  src/components/Link/index.tsx
  src/components/templates/ListPage/ListItem.tsx
  src/components/templates/ListPage/LoadMore.tsx
  src/pages/countdown/[id]/index.page.tsx
Due: eslint

root overflow
  src/styles/index.css
Due: none
