Repository SnO2WMaN/timeraas: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: eslint {staged_files}
    prettier:
      glob: '*.{json,yml,graphql}'
      run: prettier --check {staged_files}

feat: Prismaのmigrationを追加 (#15)
  .github/workflows/migration.yml
  docker-compose.yml
  migrations/20210919195150_/migration.sql
  migrations/migration_lock.toml
Due: prettier

ci: fix migrations paths
  .github/workflows/migration.yml
Due: prettier

chore: Node.jsのバージョンを14に下げる
  .github/workflows/ci.yml
  .github/workflows/migration.yml
  .node-version
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore: .vercelignoreにmswのworkerを追加 (#2)
  .vercelignore
Due: none

chore: 環境変数周り修正
  .env
  .env.development
  .env.production.local.example
  src/mocks/handlers.ts
  src/pages/_app.page.tsx
  src/types/environment.d.ts
Due: eslint

fix env name
  .env.development
Due: none

諦め
  .env.development
  .env.production.local.example
  next.config.js
  src/mocks/handlers.ts
  src/pages/_app.page.tsx
Due: eslint

chore: 環境変数周り修正 (#18)
  .env
  .env.development
  .env.production.local.example
  next.config.js
  src/mocks/handlers.ts
  src/pages/_app.page.tsx
  src/types/environment.d.ts
Due: eslint

chore: Node.jsのバージョンを14に下げる (#16)
  .github/workflows/ci.yml
  .github/workflows/migration.yml
  .node-version
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

ci: デプロイ毎にmigration deployする
  .github/workflows/migration.yml
Due: prettier

ci: 毎プッシュごとにprisma migrateを走らせる (#17)
  .github/workflows/migration.yml
Due: prettier

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier

fix(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier

counddown pre
  package.json
  src/components/CountdownPage/Canvas/index.tsx
  src/components/CountdownPage/Clock/index.tsx
  src/pages/countdowns/[id]/index.page.tsx
  yarn.lock
Due: eslint, prettier

wipwip
  package.json
  src/components/Clock/index.tsx
  src/components/CountdownPage/Canvas/index.tsx
  src/pages/countdowns/[id]/details.page.tsx
  src/pages/countdowns/[id]/index.page.tsx
  yarn.lock
Due: eslint, prettier

mock
  next.config.js
  src/mocks/handlers.ts
Due: eslint

詳細
  src/components/CountdownPage/Details.tsx
  src/components/Layout/index.tsx
  src/i18n/ja/index.ts
  src/pages/countdowns/[id]/index.page.tsx
Due: eslint

feat: カウントダウンページをPIXI.jsの描画に切り替え (#21)
  next.config.js
  package.json
  src/components/Clock/index.tsx
  src/components/CountdownPage/Canvas/index.tsx
  src/components/CountdownPage/Clock/index.tsx
  src/components/CountdownPage/Details.tsx
  src/components/Layout/index.tsx
  src/i18n/ja/index.ts
  src/mocks/handlers.ts
  src/pages/countdowns/[id]/details.page.tsx
  src/pages/countdowns/[id]/index.page.tsx
  yarn.lock
Due: eslint, prettier

next/image置換
  src/components/CountdownPage/Details.tsx
  src/components/HeaderNav/Accordion/index.tsx
  src/components/HeaderNav/UserInfo.tsx
  src/components/Image/index.tsx
Due: eslint

fix img
  src/components/Image/index.tsx
Due: eslint

head
  src/components/Head/index.tsx
  src/i18n/ja/index.ts
  src/pages/countdowns/[id]/details.page.tsx
  src/pages/countdowns/[id]/index.page.tsx
  src/pages/index.page.tsx
  src/pages/list.page.tsx
  src/pages/new.page.tsx
Due: eslint

Head
  src/components/Head/index.tsx
  src/i18n/ja/index.ts
Due: eslint

feat: Nextのコンポーネントを抽象化 (#23)
  src/components/CountdownPage/Details.tsx
  src/components/Head/index.tsx
  src/components/HeaderNav/Accordion/index.tsx
  src/components/HeaderNav/UserInfo.tsx
  src/components/Image/index.tsx
  src/i18n/ja/index.ts
  src/pages/countdowns/[id]/details.page.tsx
  src/pages/countdowns/[id]/index.page.tsx
  src/pages/index.page.tsx
  src/pages/list.page.tsx
  src/pages/new.page.tsx
Due: eslint

fix(deps): update dependency typesafe-i18n to v2.40.2
  package.json
  yarn.lock
Due: prettier

chore(deps): update node.js to v14.18.0
  .node-version
Due: none

chore(deps): update dependency @types/react to v17.0.26
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency autoprefixer to v10.3.6
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency eslint-plugin-unused-imports to v1.1.5
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency postcss to v8.3.8
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency prettier to v2.4.1
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency tailwindcss to v2.2.16
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency typescript to v4.4.3
  package.json
  yarn.lock
Due: prettier
