Repository SnO2WMaN/timeraas: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: eslint {staged_files}

prettier:
  run: prettier --check {staged_files}

rm dependencioes
  package.json
  yarn.lock
Due: prettier

rm apollo client
  src/apollo/client.ts
Due: eslint

fix something
  src/components/templates/ListPage/List.stories.tsx
  src/components/templates/ListPage/LoadMore.stories.tsx
  src/pages/countdowns/[id]/details.page.tsx
  src/pages/countdowns/[id]/index.page.tsx
Due: eslint

refactforr
  src/components/ListPage/List.stories.tsx
  src/components/ListPage/List.tsx
  src/components/ListPage/ListItem.stories.tsx
  src/components/ListPage/ListItem.tsx
  src/components/ListPage/LoadMore.stories.tsx
  src/components/ListPage/LoadMore.tsx
  src/mocks/handlers.ts
  src/pages/list.page.tsx
Due: eslint

new form component
  src/components/Icon/index.tsx
  src/components/NewPage/Form.stories.tsx
  src/components/NewPage/Form.tsx
  src/i18n/ja/index.ts
  src/pages/new.page.tsx
Due: eslint

add datefns
  package.json
  yarn.lock
Due: prettier

tailwindconfig
  package.json
  tailwind.config.js
  yarn.lock
Due: eslint, prettier

more form wip
  src/components/Icon/index.tsx
  src/components/NewPage/Form.stories.tsx
  src/components/NewPage/Form.tsx
  src/components/NewPage/Form/InputDate.tsx
  src/components/NewPage/Form/InputTime.tsx
  src/components/NewPage/Form/InputTimeZone.tsx
  src/components/NewPage/Form/InputTitle.tsx
  src/components/NewPage/Form/PreviewDateTime.tsx
  src/components/NewPage/Form/SubmitButton.tsx
  src/components/NewPage/Form/formTypes.ts
  src/components/NewPage/Form/formatDate.test.ts
  src/components/NewPage/Form/formatDate.ts
  src/components/NewPage/Form/index.stories.tsx
  src/components/NewPage/Form/index.tsx
  src/i18n/formatters.ts
  src/i18n/ja/index.ts
  src/mocks/handlers.ts
Due: eslint

upd mock
  src/mocks/handlers.ts
Due: eslint

upd fetch counts
  src/pages/list.page.tsx
Due: eslint

Input design
  src/components/NewPage/Form/InputDate.tsx
  src/components/NewPage/Form/InputTime.tsx
  src/components/NewPage/Form/InputTimeZone.tsx
  src/components/NewPage/Form/InputTitle.tsx
Due: eslint

listpg
  src/components/ListPage/List.tsx
  src/pages/list.page.tsx
Due: eslint

no validation fotm
  src/components/NewPage/Form/InputTimeZone.tsx
  src/components/NewPage/Form/PreviewDateTime.tsx
  src/components/NewPage/Form/SubmitButton.tsx
  src/components/NewPage/Form/formatDate.ts
  src/components/NewPage/Form/index.tsx
  src/i18n/ja/index.ts
  tailwind.config.js
Due: eslint

resolvers wip
  codegen.yml
  schema.graphql
  src/pages/api/graphql/args.ts
  src/pages/api/graphql/context.ts
  src/pages/api/graphql/index.api.ts
  src/pages/api/graphql/query.ts
  src/pages/api/graphql/resolvers/createCountdown.ts
  src/pages/api/graphql/resolvers/findCountdown.ts
  src/pages/api/graphql/resolvers/findUser.ts
  src/pages/api/graphql/resolvers/getCountdown.ts
  src/pages/api/graphql/resolvers/getUser.ts
  src/pages/api/graphql/resolvers/getUserCreatedCountdowns.ts
  src/pages/api/graphql/resolvers/index.ts
  src/pages/api/graphql/resolvers/utils/pagination.ts
  src/pages/api/graphql/resolvers/utils/types.ts
Due: eslint, prettier

codegen
  codegen.yml
  schema.graphql
Due: prettier

nextauth
  .env.development.local.example
  src/pages/api/auth/[...nextauth].api.ts
  src/types/environment.d.ts
Due: eslint

api moremore fix
  src/pages/api/graphql/codegen-types.ts
  src/pages/api/graphql/context.ts
  src/pages/api/graphql/index.api.ts
  src/pages/api/graphql/resolvers/utils/types.ts
Due: eslint

next bundle analyze
  next.config.js
  package.json
  yarn.lock
Due: eslint, prettier

it may be fix for client faker
  .env.development
  src/graphql-request/client.ts
  src/mocks/handlers.ts
  src/pages/_app.page.tsx
  src/types/environment.d.ts
  src/urql/client.ts
Due: eslint

truly cursor based pagination
  package.json
  src/pages/api/graphql/args.ts
  src/pages/api/graphql/index.api.ts
  src/pages/api/graphql/resolvers/getUserCreatedCountdowns.ts
  src/pages/api/graphql/resolvers/utils/types.ts
  yarn.lock
Due: eslint, prettier

schama2
  package.json
  schema.graphql
  src/pages/api/graphql/index.api.ts
  src/pages/api/graphql/parse.ts
  src/pages/api/graphql/resolvers/getUserCreatedCountdowns.ts
  src/pages/api/graphql/resolvers/index.ts
  src/pages/api/graphql/resolvers/utils/pagination.ts
  src/pages/api/graphql/resolvers/utils/types.ts
Due: eslint, prettier

fix type check
  src/components/NewPage/Form/index.stories.tsx
Due: eslint

chore: vercelignoreにmswのworkerを追加
  .vercelignore
Due: none

ci: mainブランチでもCIを走らせる
  .github/workflows/ci.yml
Due: prettier

ci: Renovateの設定を追加
  .github/renovaterc.json
  .github/workflows/validate-renovate.yml
Due: prettier

ci: actionlintを追加
  .github/workflows/actionlint.yml
Due: prettier

prettier
  .github/workflows/actionlint.yml
Due: prettier

prettier
  .github/workflows/ci.yml
Due: prettier

ci: actionlintを追加 (#5)
  .github/workflows/actionlint.yml
Due: prettier

ci: mainブランチでもCIを走らせる (#3)
  .github/workflows/ci.yml
Due: prettier

ci: Renovateの設定を追加 (#4)
  .github/renovaterc.json
  .github/workflows/validate-renovate.yml
Due: prettier

Add renovate.json
  renovate.json
Due: prettier

ci: Renovateの設定ファイル名修正
  .github/renovate.json
  .github/workflows/validate-renovate.yml
Due: prettier

ci: Renovateの設定ファイル名修正 (#7)
  .github/renovate.json
  .github/workflows/validate-renovate.yml
Due: prettier

fix(deps): update dependency apollo-server-micro to v2.14.2 [security]
  package.json
  yarn.lock
Due: prettier

日付の制限をかける
  src/components/NewPage/Form/InputDate.tsx
Due: eslint

feat: prisma migration
  migrations/20210919195150_/migration.sql
  migrations/migration_lock.toml
Due: none

postgresのバージョンを13.4に固定
  docker-compose.yml
Due: prettier

ci: prisma migration
  .github/workflows/migration.yml
Due: prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{json,yml,graphql}
